name: flutter_application_unid2
description: A new Flutter project.

publish_to: "none"

version: 0.0.1+1

environment:
  sdk: ">=2.19.4 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  english_words: ^4.0.0
  provider: ^6.0.0
  sqflite: ^2.3.0
  path_provider: ^2.1.0
  intl: ^0.19.0
  path: ^1.9.1
  material_design_icons_flutter: ^7.0.7296
  logger: ^2.6.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
